<div class="latest-posts-container">
  <div class="latest-posts-content">
    <h2 class="latest-posts-title">最近更新</h2>
    <div class="latest-posts-list">
      <% page.posts.each(function(post) { %>
      <div class="latest-post-item">
        <span class="latest-post-time"><%= date(post.date, 'MM-DD') %></span>
        <a class="latest-post-title" href="<%- url_for(post.path) %>">
          <%= post.title || '(no title)' %>
        </a>
      </div>
      <% }) %>
    </div>
  </div>
</div>
