:root
    --main-color #f8f8f8
    --secondary-color #ffffff
    --text-color #171717
    --secondary-text-color #6f6f6f
    --shadow-color1 #0000001a
    --shadow-color2 #0000000d

@media (prefers-color-scheme: dark)
    :root
        --main-color: #18181b
        --secondary-color: #09090b
        --text-color: #ededed
        --secondary-text-color: #a0a0a0
        --shadow-color1: #ffffff1a
        --shadow-color2: #ffffff0d
