<footer class="footer-container">
  <div class="footer-content">
    <p class="footer-text"><%= theme.footer.copyright %></p>
    <p class="footer-text"><%= theme.footer.powered %></p>
  </div>
</footer>
