<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="<%= url_for(theme.favicon) %>" type="image/x-icon" />
  <%
    var activeTitle = page.title || __('activeTitle');
    var inactiveTitle = page.title ? (page.title + ' - ' + __('inactiveTitle')) : __('inactiveTitle');
  %>
  <title><%= activeTitle %></title>
  <script>
    (function() {
      var activeTitle = '<%= activeTitle %>';
      var inactiveTitle = '<%= inactiveTitle %>';

      document.addEventListener('visibilitychange', function() {
        document.title = document.hidden ? inactiveTitle : activeTitle;
      });
    })();
  </script>
</head>
